body{
	background: hsl(0,100%,90%);
	margin: 0px;
	border: 0px;
}
#header{
	width: auto;
	height: 110px;
	background: hsl(0,100%,50%);
	color: white;
}
.img1 li {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    position: relative;
 
}